
/*background image*/
body {
  background-image:url(leaf.png);
  background-size: auto;
}


.header-symptoms {
  background-color: white;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  margin-top: 20%;
  /*padding: 2% 0 2% 0;*/
}

.show-strains {
  background-color: ;
  margin: 0 auto;
  padding: 2% 0 2% 0;

}

.dropdown{
  /*text-align: center;*/
}
