<div class="container-fluid" id="show">
  <div class="results">
  <% @strains.each do |strain| %>
        <div class="strain-results">
          <%= link_to strain["name"] %>
        </div>
  <% end %>
  </div>
</div>
