

<div class="row">
  <div class="col-md-12">
    <% @strains.each do |strain| %>
      <ul class="list-unstyled">
      <li><%= link_to strain["name"], strain["link"]%></a><li>
      <!-- <li><%= image_tag(strain["reviews"]) %></li> -->
      </ul>
    <% end %>
  </div>
</div>
