

<% @strains.each do |plant| %>
    <%= @product.descr %>
    <%= render json: paramss %>
    <div class="col-md-4" id="">
        <div class="show-strains">
          <%= link_to plant "name", name_index_path %>
        </div>
    </div>
  <% end %>
